My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "964d38e5-e64a-47e5-ba33-8941371748f7",
      "name": "When chat message received",
      "webhookId": "9362dd0a-748e-4aef-8925-fa694bae5a61"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an intelligent culinary assistant integrated in an automation workflow.\n\nYour goal is to generate a recipe suggestion based on:\n- available ingredients\n- current weather conditions\n- user context (quick home cooking)\n\nRules:\n1. Use ONLY the ingredients provided. You may add basic pantry items (salt, pepper, oil, water) if needed.\n2. Adapt the recipe to the weather:\n   - Cold / rain / snow → warm, comforting meals\n   - Hot weather → light, fresh meals\n3. Prefer simple, realistic home recipes.\n4. Estimate calories approximately (do NOT overthink; reasonable estimates are enough).\n5. Cooking time must be realistic.\n6. Output must be clear, friendly, and easy to read.\n\nReturn the result in the following structured format (NO markdown, NO emojis):\n\nRecipe Name:\nShort Description:\nWeather Adaptation:\nEstimated Calories (per serving):\nEstimated Cooking Time:\nIngredients Used:\nSteps:\n\nIf the user mentions dietary preferences (vegetarian, halal, low-carb, high-protein),\nremember them and apply them in future responses within the same session.\n\nIf the user mentions time limits or equipment:\n- Adapt recipe accordingly\n- Do not suggest unavailable tools\n\nBe concise but complete.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "a89b9d43-479b-4687-bddc-10bec4918bcd",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "You are a tool to get the weather of the day",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=48.866667&lon=2.333333&appid=0a26feeaa27692af5438cd956aec3097",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        368,
        208
      ],
      "id": "fd54890b-7b92-4d9e-a09d-be3790dbb664",
      "name": "Weather_tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "9fcb2fdd-7d6e-4f0f-b3c8-00e2737645a3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2Bny97egHPjPWJz1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d08b7964-c3c9-4c02-b10c-9aa702805e24",
              "leftValue": "={{ $json.output === undefined || $json.output === '' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "137693d2-5925-4b0c-9947-8bf04c0c8cb5",
      "name": "If"
    },
    {
      "parameters": {
        "message": "⚠️ Sorry, I couldn’t generate a recipe right now.\n\nThis may be due to:\n• Temporary AI model issue  \n• Weather service unavailable  \n• Unexpected input format  \n\nPlease try again in a few seconds.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        768,
        -48
      ],
      "id": "b6798371-fefb-452e-bd67-e894dfa90738",
      "name": "Respond to Chat",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3029837e-b5bd-4b59-bd13-35cbe5f53aef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "594e519ae499312b29433b7dd8a97ff068defcba9755b6d5d00e84c524d67b06"
  },
  "id": "O3PRbk5mHMTa5ffR",
  "tags": []
}